img {
  max-height: 420px;
  width:auto
}

figure {
  max-width: 100%;
  height: auto;
  max-height: 95vh;
}

.md-typeset h1 {
  text-align: center;
  padding: 10px;
  color: white;
  font-size: 50px;
  font-style: italic;
  margin-bottom: 0px;
  background: #536DFE;
  border-bottom: 2px solid currentColor;
  border-radius: 100px;
}

.homeTitle {
  padding: 60px;
  text-align: center;
  background: #536DFE;
  color: white;
  font-size: 30px;
  border-radius: 50px;
}

.md-typeset h2 {
  color: #03bafc ;
  font-size: 40px;
  font-weight: bolder;
  font-style: oblique;
  border-bottom: 2px solid currentColor;
  line-height: 0.80
  display: inline-block;
}

.md-typeset h3 {
  color: #66ff99 ;
  font-size: 25px;
  font-weight: bold;
  font-style: normal;
  border-bottom: 2px solid currentColor;
  display: inline-block;
}

.md-typeset h4 {
  color: #ffc64d;
  font-size: 18px;
  font-weight: bold;
  font-style: normal;
  display: inline-block;
  display: list-item;
  list-style-type: disc;
  list-style-position: inside;
}

.objectivePanel {
    margin: auto; /* to center*/
    border-radius: 30px;
    width: 95%;
    border: 2px solid #ddd;
    padding: 20px;
    background-color: #6e6a65;
    color: #ffc64d
}

.dottedLine{
    height: 1px;
    border-top: 1px dotted #aaa;
    margin-top: 1.5em;
    margin-bottom: 1.5em;
}


.GalleryBlockHeight{
  display: inline-block;
}

.moduleContainer {
  display: inline-block;
  margin: 5px; /*to get a space between blocks*/
  border: 0px solid transparent;
  float: left;
  width: 32%; /*3 per line*/
  position: relative;
  overflow: hidden;
}


.moduleContainer img {
  object-fit: cover; /*crop image rather than resize it*/
  filter: grayscale(100%);
  border-radius: 25px;
  width: 100%;
  height: 200px;
  border:  1px solid transparent;
  margin: 0px;
  opacity: 0.6;
}

.moduleContainer img:hover {
  opacity: 1.0;
  filter: grayscale(0%);
}

.modulecontainerText {
  display: flex;
  justify-content: center; /* align horizontal */
  align-items: center; /* align vertical */
  height: 100px;
  border-radius: 25px;
  margin-top: 0px;
  padding-left: 5px;
  padding-right: 5px;
  position: relative;
  text-align: center;
  font-weight: bold;
  background-color: #536DFE ;
  font-size: large;
  color: white;
}


video {
    margin-left: auto;
    margin-right: auto;
    display: block
}
